/* Boilerplate CSS*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  line-height: 1;
  color: black;
  overflow-x: hidden;
  background-color: #000000; /*margin color*/
}

/*Content Wrapper*/

.content-wrapper {
  background-color: white;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
}

.logo-container {
  flex: 1;
  justify-content: center;
  padding-left: 10%;
}

.logo {
  height: auto;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 5px;
}

.nav-link-btns {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  order: -1;
  width: 100%;
  padding-bottom: 20px;
}

button {
  background: none;
  border: none;
  margin: 5px 0;
  color: rgb(74, 81, 81);
  cursor: pointer;
  text-decoration: none;
  font-size: auto;
}

button:hover {
  color: rgb(241, 179, 103);
  text-decoration: none;
}

.header > .nav-link-btns {
  position: top;
  order: 2;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

button.furniture-btn,
button.rugs-btn,
button.appliance-btn,
button.contact-us-btn {
  position: relative;
  top: auto;
  right: auto;
  margin-left: 10px;
  font-size: 25px;
}

.seperator-furniture,
.seperator-rugs,
.seperator-appliance {
  position: relative;
  top: auto;
  right: auto;
  padding: 0 5px;
  font-size: 35px;
}

/* Tablets and Smaller Devices */

@media (max-width: 768px) {
  .header {
    justify-content: center;
    padding: 10px;
  }

  .nav-link-btns {
    width: 100%;
    justify-content: center;
    margin-top: 10px;
  }

  button {
    font-size: 20px;
  }
}

/* Mobile Phones */

@media (max-width: 480px) {
  .logo {
    width: 70%;
  }
}

.main-info-container {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  font-size: 30px;
}

.main-info-our-motto {
  color: #fdb515;
}

.boatload,
.truckload {
  color: rgb(0, 0, 0);
  font-size: 45px;
  padding: 0;
  text-align: center;
  text-decoration: underline;
}

/* Opening Section*/

.section-hero {
  font-size: 30px;
}

.section-hero span {
  color: rgb(0, 0, 0);
  text-decoration: underline;
}
